<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Contacts</title>
</head>
<body>
<div class="container">
    <div id="header" class="header">
        <h1>My Contacts</h1>
    </div>

    <div class="row">
        <div class="list">


    {% if contacts is not empty %}
        <p></p>
        <ul>
            {% for contact in contacts %}
                <h2> {{ contact.getName }} </h2>
                <li><strong>Name:</strong> {{ contact.getName }}</li>
                <li><strong>Phone:</strong> {{ contact.getPhone }}</li>
                <li><strong>Street:</strong> {{ contact.getStreet }}</li>
                <li><strong>City:</strong> {{ contact.getCity }}</li>
                <li><strong>State:</strong> {{ contact.getState }}</li>
                <li><strong>Zip:</strong> {{ contact.getZip }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
<!-- </div> -->
    <!-- <div class="row input"> -->
    <div class="form">

    <h1>Add a Contact!</h1>

    <form action='/contacts' method='post' class="input">
        <p><label for='name'><strong>Name:</strong></label>
        <input id='name' name='name' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>
        <p><label for='phone'><strong>Phone:</strong></label>
        <input id='phone' name='phone' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>
        <p><label for='street'><strong>Street:</strong></label>
        <input id='street' name='street' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>
        <p><label for='city'><strong>City: </strong></label>
        <input id='city' name='city' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>
        <p><label for='state'><strong>State:</strong></label>
        <input id='state' name='state' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>
        <p><label for='zip'><strong>Zip:</strong></label>
        <input id='zip' name='zip' type='text' style="font-size:16pt; height: 30px; width: 300px; float: right;"></br></p>

        <p><button type='submit' style="font-size:15pt; height: 50px; width: 200px;"><strong>Add Contact</strong></button></p>
    </form>
    <form action='/delete_contacts' method='post'>
        <p><button type='submit' style="font-size:15pt; height: 50px; width: 200px;"><strong>Clear Contacts</strong></button></p>
    </form>
</div>
<!-- </div> -->

</div>
</div>
</body>
</html>
