<html>
<head>
    <title>New Contact</title>
</head>
<body>
    <h1>You Added a New Contact!</h1>
    <h2> {{ contact.getName }} </h2>
    <li>Name: {{ newcontact.getName }}</li>
    <li>Phone: {{ newcontact.getPhone }}</li>
    <li>Street: {{ newcontact.getStreet }}</li>
    <li>City: {{ newcontact.getCity }}</li>
    <li>State: {{ newcontact.getState }}</li>
    <li>Zip: {{ newcontact.getZip }}</li>
    <p><a href='/'>View List of Contacts.</a></p>
</body>
</html>
